<!DOCTYPE html>
<html lang="en">
{% include 'base/head.html' %}

<body>
{% include 'base/navbar.html' %}

<!-- Page Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 style="position: relative;">Downloads</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <!--
            Note: To add a new download entry, copy the template below and put it
            outside this comment block and fill the details:
                [DOWNLOAD-LINK], [REPO-NAME], [REPO-TITLE], [DESCRIPTION], [AUTHOR-ID], [AUTHOR-NAME].
            The file itself has to be uploaded somewhere else.
            Please make sure that the link works after you have added it.

            <div class="post-preview">
                <a href="[DOWNLOAD-LINK]" target="_blank" 
                        onclick="javascript:logging('[REPO-NAME]')">
                    <h2 class="post-title">
                        [REPO-TITLE]
                    </h2>
                    <h3 class="post-subtitle">
                        [DESCRIPTION] <br/>
                    </h3>
                </a>
                <p class="post-meta">
                    Total downloads: {{DownloadLog.objects.filter(key='[REPO-TITLE]').count()}} <br/>
                    Last Update: [Date Month Year], by <a href="http://nlp.kaist.ac.kr/~[AUTHOR-ID]" target="_blank">
                    [AUTHOR-NAME]</a>
                </p>
            </div>
            -->

            <div class="post-preview">
                <a href="https://github.com/fgaim/artext/archive/v0.2.5.zip" target="_blank" 
                        onclick="javascript:logging('Artext')">
                    <h2 class="post-title">
                        Artext: Artificial Text Generation
                    </h2>
                    <h3 class="post-subtitle">
                        Probabilistic Noising of Natural Language <br/>
                    </h3>
                </a>
                <p class="post-meta">
                    Total downloads: {{DownloadLog.objects.filter(key='Artext').count()}} <br/>
                    Last Update: 7 November 2018, by <a href="http://nlp.kaist.ac.kr/~fgaim" target="_blank">Fitsum</a>
                </p>
            </div>


            <!-- end of downloads-->
            <hr>
        </div>
    </div>
</div>

{% include 'base/footer.html' %}
{% include 'base/script.html' %}

<script>
  function logging(key) {
    $.ajax({
      url: '/api/download/log',
      contentType: 'application/json',
      type: 'POST',
      data: JSON.stringify({
        key: key,
      }),
    }).done(function (data) {

    }).fail(function (data) {
      console.error(data);
    })
  }
</script>

</body>

</html>
