<!DOCTYPE html>
<html lang="en">
{% include 'base/head.html' %}

<body>
{% include 'base/navbar.html' %}

<!-- Page Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 style="position: relative;">Downloads</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <!-- start of downloads-->

            {% for download in downloads %}
            <div class="post-preview">
                <a href="{{download['download-link']}}" target="_blank"
                   onclick='javascript:logging("{{download['repo-name']}}")'>
                    <h2 class="post-title">
                        {{download['repo-title']}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{download['description']}} <br/>
                    </h3>
                </a>
                <p class="post-meta">
                    Total downloads: {{DownloadLog.objects.filter(key=download['repo-name']).count()}} <br/>
                    Last Update: {{download['last-update']}}, by NLPCL Research Group
                </p>
            </div>
            {% endfor %}

            <!-- end of downloads-->
            <hr>
        </div>
    </div>
</div>

{% include 'base/footer.html' %}
{% include 'base/script.html' %}

<script>
  function logging(key) {
    $.ajax({
      url: '/api/download/log',
      contentType: 'application/json',
      type: 'POST',
      data: JSON.stringify({
        key: key,
      }),
    }).done(function (data) {

    }).fail(function (data) {
      console.error(data);
    })
  }
</script>

</body>

</html>
