<!DOCTYPE html>
<html lang="en">
{% include 'base/head.html' %}

<body>
{% include 'base/navbar.html' %}

<!-- Page Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 style="position: relative;">Downloads</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <!--
                    TODO: To add a new download entry, copy the template below and put it
                    outside this comment block and fill the details such as link and description.
                    The file itself has to be uploaded somewhere else.
                    Please. make sure that the link works after you add it.

                <div class="col-md-12">
                    <div class="download">
                        <div class="detail">
                            <span class="title">DOWNLOAD-TITLE</span> <br/>
                            one line descriptiongoes here.<br/>
                            [optional] 3-4 lines description if necessary.<br/>
                            <a href="#link-here" target="_blank">DOWNLOAD</a>
                        </div>
                    </div>
                </div>
                -->
            <!-- end of downloads-->

            <div class="post-preview">
                <a href="https://github.com/fgaim/artext/archive/v0.2.5.zip" target="_blank" onclick="javascript:logging('Artext')">
                    <h2 class="post-title">
                        Artext: Artificial Text Generation
                    </h2>
                    <h3 class="post-subtitle">
                        Probabilistic Noising of Natural Language <br/>
                    </h3>
                </a>
                <p class="post-meta">
                    Total downloads: {{DownloadLog.objects.filter(key='Artext').count()}} <br/>
                    Posted by <a href="http://nlp.kaist.ac.kr/~fgaim" target="_blank">Fitsum</a> on November 7, 2018 <br/>
                </p>
            </div>
            <hr>
        </div>
    </div>
</div>

{% include 'base/footer.html' %}
{% include 'base/script.html' %}

<script>
  function logging(key) {
    $.ajax({
      url: '/api/download/log',
      contentType: 'application/json',
      type: 'POST',
      data: JSON.stringify({
        key: key,
      }),
    }).done(function (data) {

    }).fail(function (data) {
      console.error(data);
    })
  }
</script>

</body>

</html>
